body{
    margin: 0;
}

.page{
    animation: appear 2s ease;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 5px 7px rgb(199, 196, 196);
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.header-title{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    width: 127%;
    font-weight: 700;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.box{
    width: 100%;
    height: 100vh;
    background-image: url(https://daimaougroup.files.wordpress.com/2014/01/1600x1200-white-background-website.jpg);
    background-size: 1090px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contain{
    margin: 35px;
    width: 95vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.profile{
    background-color: rgb(204 198 198);
    box-shadow: 0 10px 13px rgb(199, 196, 196);

}

.habit{
    background-color: rgb(240 237 237);
    box-shadow: 0 10px 13px rgb(199, 196, 196);

}

.schedule{
    background-color: rgb(250 220 214);
    box-shadow: 0 10px 13px rgb(199, 196, 196);

}

.about{
    background-color: rgb(229 199 181);
    box-shadow: 0 10px 13px rgb(199, 196, 196);

}

.collection{
    width: 50%;
    background-color: rgb(240 237 237 / 50%);
    box-shadow: 0 10px 13px rgb(199, 196, 196);

}

.photo{
    width: 25%;
    background-color: rgb(204 198 198);
    box-shadow: 0 10px 13px rgb(199, 196, 196);

}

.pic{
    width: 25%;

}

.btn{
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    padding: 10px 40px;
    min-width: 130px;
}

.btn:hover{
    opacity: 0.65;
}

.profile-title{
    font-weight: 700;
}

.btn-title{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-main{
    display: flex;
    justify-content:center ;
    align-items:flex-end;
}
.profile-value{
    border-radius: 10px;
    margin-top: 140px;
    width: 70%;
    height: 50%;
    box-shadow:  0 20px 20px rgb(151, 151, 151);
    padding-left: 50px;
}

.write-profile{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-weight: 600;

}

p{
    font-size: 20px;
}

.page-following{
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.wallpapersafari.com/39/22/sCmWo7.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 500px;
}

.dothi{
    width: 100%;
    height: 55vh;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.normal{
    width: 6vw;
    height: var(--percent);
    background-color: red;
    text-align: center;
    animation: growth ease-in 0.75s;
}

@keyframes growth {
    from{
        height: calc(var(--percent)-50%);
        opacity: 0;
    }
    to{
        height: var(--percent);
        opacity: 1;
    }
}

.photo-page{
    width: 100vw;
    height: 100vh;
    box-shadow: none;
    background-image: url(https://img.thuthuattinhoc.vn/uploads/2019/07/28/hinh-nen-gon-may-hoang-hon_014746754.png);
    background-size: 100%;
    display: flex;
    justify-content: space-around;

}

.photo1{
    padding-top: 100px ;
    width: 45%;
    border-radius: 5px;
}

.photo1a{
    width: 100%;
    height: 45%;
    margin-bottom: 25px;
}

.photo1b{
    width: 100%;
    height: 45%;

}

.photo2{
    padding-top: 100px;
    width: 45%;
    border-radius: 5px;
}


.photo2a{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.photo2a1{
    width: 50%;
}

.photo2a1{
    width: 50%;
}

.photo2b{
    margin-top: 25px;
    width: 100%;
    height: 60%;
}


img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}